body {
	font: 13px Arial, Helvetica, sans-serif;
}
a {
	color: #3875d7;
}
div.files-wrapper {
	float: left;
	margin: 0 1% 0 0;
	width: 19%;
}
div.files-wrapper a {
	display: block;
	text-decoration: none;
	padding: 2px;
}
div.files-wrapper a:hover,
div.files-wrapper a.selected {
	background-color: #edf3fe;
	text-decoration: underline;
}
div.files-wrapper a span.mtime {
	color: #aaa;
	float: right;
}
div.code-wrapper {
	float: left;
	width: 80%;
}
div.code-wrapper h1 {
	color: #333;
	font-size: 30px;
}
div.code-wrapper h1 span.sub{
	color: #aaa;
	font-size: 12px;
	float: right;
}
